
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.projectsSection {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.projectsSection h2 {
  margin-bottom: 4rem;
}

.separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 4rem;
}

.projectImage {
  max-width: 100%;
  height: 200px; /* You can adjust this value */
  object-fit: cover;
  border-radius: 0.5rem;
}

.projectDetails h3 {
  font-family: 'Montserrat', sans-serif;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectContainer {
  padding: 2rem;
  border-radius: 0.5rem;
}

.projectBg0 {
  background-color: #212936; /* Darker background color */
}

.projectBg1 {
  background-color: #1F2631; /* Darker background color */
}
